<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (c) 2020.
  ~ Davin Alfarizky Putra Basudewa , dbasudewa@gmail.com
  ~ Educational References Only
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="xyz.dvnlabs.penilaiandosen">

    <application
        android:name=".app.MainApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Penilaiandosen">
        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>